{% extends "_master.html" %}
{% block body_html %}
  <div class='container animated fadeIn text-center'>
      <br /><br />
      <br /><br />
      <img src="/img/jetpacktocat.png" style="height:200px" />
      <br /><br />
      <h1 class="jumbo">
        Tabster
      </h1>
      <h2>Guitar tabs without all the bullshit.</h2>
      <br /><br />
      <a role='button' class='btn btn-primary btn-lg' href='/login'>
        Sign in with your Google account
      </a>
      <small>
      <br /><br /><br />
      <br /><br /><br />
  </div>
{% endblock %}
